.about-me {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  width: clamp(150px, 80vw + 1rem, 700px);
  gap: 5px;
}

.about-text {
  font-family: var(--small);
  padding: 1rem;
}

.about-img {
  max-width: 300px;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
}

@media (max-width: 40em) {
  .about-me {
    margin: 50px 0 150px 0;
    flex-direction: column-reverse;
  }

  .about-img {
    align-self: center;
  }
}
