.col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.project-look {
  font-family: var(--sub-header);
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--headline);
  font-size: 70px;
  letter-spacing: 5px;
  text-decoration: underline;
}

.project-look > span {
  color: var(--stroke);
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
