.blog-container {
  display: block;
  padding: 0;
  height: 86vh;
}

.blog-nav {
  background-color: var(--stroke);
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  border-right: 3px solid var(--headline);
  top: 11%;
}

.blog-nav-title {
  font-size: 30px;
  font-family: var(--sub-header);
  color: var(--secondary);
  border-bottom: 3px solid var(--headline);
}

.blog-items {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "blogNav post comments"
    "blogNav post comments"
    "blogNav post comments";
  height: 100%;
}

.blog-nav {
  grid-area: blogNav;
}
