.blog-container {
  display: block;
  padding: 0;
  height: 86vh;
}

.blog-nav {
  margin: 30px auto 150px auto;
  width: clamp(300px, 80vw, 700px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  overflow-y: visible;
}

.blog-nav-link-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--headline);
}

.blog-nav-link-wrapper > a {
  margin: 0;
  padding: 0;
  font-size: var(--fs-600);
}

.blog-nav-summary {
  font-size: var(--fs-400);
  color: var(--paragraph);
}

.blog-items {
  margin: 0 auto;
  height: 100%;
}
