.comments-container {
  position: fixed;
  right: 0;
  height: 90vh;
  background-color: var(--stroke);
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--headline);
  top: 11%;
  color: rgb(202, 188, 188);
}

.comment-wrapper {
  border-bottom: 1px solid white;
}

.comment-user {
  font-size: 30px;
  font-family: var(--sub-header);
  color: var(--secondary);
}

.comment-time {
  font-size: 0.8rem;
}
