:root {
  --sub-header: "Fira Sans", sans-serif;
  --small: "Prompt", sans-serif;
  --header: "Roboto", sans-serif;

  --fs-xl: clamp(1.3rem, 5vw + 1rem, 5rem);
  --fs-600: 2rem;
  --fs-400: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
}

.dark {
  --background: #282e51;
  --headline: #fffffe;
  --paragraph: #d0d6f3;
  --btn: #eebbc3;
  --btn-text: #282e51;
  --btn-hvr: #e0dadb;
  --secondary: #fffffe;
  --stroke: #121629;
  --teritiary: #eebbc3;
  transition: all 0.5s;
}

.light {
  --background: #f5f5f5;
  --headline: #272343;
  --paragraph: #333a51;
  --btn: #5a7ec7;
  --btn-text: #272343;
  --btn-hvr: #5c5b5b;
  --secondary: #e3f6f5;
  --stroke: #272343;
  --teritiary: #bae8e8;
  transition: all 0.5s;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  overflow-x: clip;
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

section {
  /* padding: 7em; */
  padding: clamp(0, 7em, 8em);
  display: flex;
  justify-content: center;
  color: var(--paragraph);
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  color: var(--btn);
  justify-self: center;
  width: fit-content;
  padding: 10px;
  margin: 0 10px;
}

a:visited {
  color: var(--btn);
}

a:hover {
  color: var(--btn-hvr);
  transform: translateY(-5px);
}
