:root {
  --sub-header: "Fira Sans", sans-serif;
  --small: "Prompt", sans-serif;
  --header: "Roboto", sans-serif;
}

.dark {
  --background: #232946;
  --headline: #fffffe;
  --paragraph: #b8c1ec;
  --btn: #eebbc3;
  --btn-text: #232946;
  --btn-hvr: #e0dadb;
  --secondary: #fffffe;
  --stroke: #121629;
  --teritiary: #eebbc3;
  transition: all 0.5s;
}

.light {
  --background: #fffffe;
  --headline: #272343;
  --paragraph: #2d334a;
  --btn: #eebbc3;
  --btn-text: #232946;
  --btn-hvr: #5c5b5b;
  --secondary: #e3f6f5;
  --stroke: #272343;
  --teritiary: #bae8e8;
  transition: all 0.5s;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  overflow-x: clip;
}

section {
  padding: 7em;
  display: flex;
  justify-content: center;
  color: var(--paragraph);
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
  color: var(--bright);
  justify-self: center;
  width: fit-content;
  padding: 10px;
  margin: 0 10px;
}

a:visited {
  color: var(--bright);
}

a:hover {
  color: var(--btn-hvr);
  transform: translateY(-5px);
}
