.navigation {
  width: 100%;
  position: sticky;
  top: 0;
  padding: 0;
  backdrop-filter: blur(10px);
  border-bottom: 3px solid var(--headline);
  z-index: 999;
}

.nav-container {
  width: 100%;
  font-family: var(--header);
  font-size: var(--fs-400);
  flex-shrink: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.nav-link {
  align-self: center;
  cursor: pointer;
}

.nav-theme {
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 5%;
  font-size: var(--fs-600);
  display: none;
  cursor: pointer;
  color: var(--paragraph);
}

@media (max-width: 40em) {
  .hamburger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
  }

  .navigation {
    border: none;
  }
}
