.post-container {
  padding: 20px 50px;
  margin: 0 auto;
  width: clamp(300px, 60vw, 60vw);
}

.post-title {
  font-size: 30px;
  font-family: var(--sub-header);
  color: var(--headline);
  border-bottom: 1px solid var(--headline);
}

.post-content,
.post-footer {
  font-family: var(--small);
  color: var(--paragraph);
  overflow-y: auto;
}

.post-content {
  & img {
    max-width: 100%;
  }
  & code {
    background-color: color-mix(in srgb, #3f3f3f 20%, black);
    border: 2px dotted gray;
    padding: 10px;
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
  }
  & h3 {
    text-decoration: underline;
  }
}

.post-content {
  font-size: var(--fs-400);
}

.post-footer {
  font-size: 0.8rem;
}

.post-user {
  font-weight: bold;
  color: var(--headline);
}

@media (max-width: 40em) {
  .post-container {
    padding: 0;
    margin-bottom: 100px;
    width: clamp(150px, 300px + 1em, 300px);
  }
}
