.post-container {
  padding: 20px 50px;
  margin: 0 auto;
  width: clamp(300px, 60vw, 60vw);
}

.post-title {
  font-size: 30px;
  font-family: var(--sub-header);
  color: var(--headline);
  border-bottom: 1px solid var(--headline);
}

.post-content,
.post-footer {
  font-family: var(--small);
  color: var(--paragraph);
  overflow-y: auto;
}

.post-footer {
  font-size: 0.8rem;
}

.post-user {
  font-weight: bold;
  color: var(--headline);
}
