.tile {
  margin: 50px;

  position: relative;
  overflow: hidden;
}

#tile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.tile:hover > #tile-img {
  transform: scale(1.2);
}

.tile-info-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
}

.tile:hover > .tile-info-container {
  display: flex;
}
